@model AssignPatientModel

@{
    ViewBag.Title = "UP Electronic Health Record";
}

<!--<img class="resize" src='@Url.Content("~/Resources/University_of_Portland_shield.png")' alt="Image" width="100px" height="auto"/> -->

@RenderPage("~/Views/Shared/_Header.cshtml")

<div class="col-md-3"></div>
<div class="list-group col-md-6">
  <a id="ap_title" class="list-group-item active">
    Assign Patient
  </a>
    @for(var i = 0; i < @Model.Patients.Count; i++) 
    {
        <a href='@Url.Action("Summary")' class="list-group-item list-group-item-action">@Model.Patients.ElementAt(i).lastName, @Model.Patients.ElementAt(i).firstName </a>
    }

  <a href='@Url.Action("CreatePatient")'  id="create_patient" class="list-group-item list-group-item-action">Create New Patient</a>
</div>
<div class="col-md-3"></div>

@RenderPage("~/Views/Shared/_Footer.cshtml")