@model CreatePatientModel

@{
    ViewBag.Title = "Create Patient";
}

<div id="buffer" class="row">
    <div class="col-md-1">
        <img class="resize" src='@Url.Content("~/Resources/University_of_Portland_shield.png")' alt="Image" width="75px" height="auto"/>
    </div>
    <div class="col-md-11">
        <h2 class="new-patient">New Patient</h2>
    </div>

</div>

<!--<body>Create a new patient under construction</body>-->

@using(Html.BeginForm("CreatePatient", "Home", FormMethod.Post))
    {
        <div>
            <fieldset>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div>
                    @Html.Label(" First Name", new { Class="input_lbl"})
                    @Html.TextBoxFor(model => model.firstName, new {Class="form-control", required = "required"})
                </div>
                <div>
                    @Html.Label(" Last Name", new { @class="input_lbl" })
                    @Html.TextBoxFor(model => model.lastName, new {Class="form-control", required = "required"})
                </div>
                <div>
                    @Html.Label(" Gender", new { @class="input_lbl" })
                    @Html.TextBoxFor(model => model.gender, new {Class="form-control"})
                </div>
                <div>
                    @Html.Label(" Birthdate", new { @class="input_lbl" })
                    @Html.TextBoxFor(model => model.birthDate, new {Class="form-control", @type = "date"})
                </div>
                <div>
                    @Html.Label(" Weight (kg)", new { @class="input_lbl" })
                    @Html.TextBoxFor(model => model.weight, new {Class="form-control"})
                </div>
                <div>
                    @Html.Label(" Admit Date", new { @class="input_lbl" })
                    @Html.TextBoxFor(model => model.admitDate, new {Class="form-control", @type = "date"})
                </div>
                <div>
                    @Html.Label(" Room", new { @class="input_lbl" })
                    @Html.TextBoxFor(model => model.room, new {Class="form-control"})
                </div>
                <div>
                    @Html.Label(" Unit", new { @class="input_lbl" })
                    @Html.TextBoxFor(model => model.unit, new {Class="form-control"})
                </div>
             </div>
             <div class="col-md-4">  
                <div>
                    @Html.Label(" Allergies", new { @class="input_lbl" })
                    @Html.TextBoxFor(model => model.allergies, new {Class="form-control"})
                </div>
                <div>
                    @Html.Label(" Attending", new { @class="input_lbl" })
                    @Html.TextBoxFor(model => model.attending, new {Class="form-control"})
                </div>
                <div>
                    @Html.Label(" BMI", new { @class="input_lbl" })
                    @Html.TextBoxFor(model => model.bmi, new {Class="form-control"})
                </div>
                <div>
                    @Html.Label(" Isolation", new { @class="input_lbl" })
                    @Html.TextBoxFor(model => model.isolation, new {Class="form-control"})
                </div>
                <div>
                    @Html.Label(" Infection", new { @class="input_lbl" })
                    @Html.TextBoxFor(model => model.infection, new {Class="form-control"})
                </div>
                <div>
                    @Html.Label(" Code Status", new { @class="input_lbl" })
                    @Html.TextBoxFor(model => model.codeStatus, new {Class="form-control"})
                </div>
                <div>
                    @Html.Label(" Healthcare Directives", new { @class="input_lbl" })
                    @Html.TextBoxFor(model => model.healthcareDirs, new {Class="form-control"})
                </div>
                <div>
                    @Html.Label(" Language", new { @class="input_lbl" })
                    @Html.TextBoxFor(model => model.language, new {Class="form-control"})
                </div>
                <div class="col-md-9"></div>
                <div id="right" class="col-md-3">
                    <input id="create_button" class="btn btn-primary" type="submit" value="Create" />
                </div>

            </div>
            <div class="col-md-2"></div>
            </fieldset>
        </div>
    }



