@model LoginModel

@{
    ViewBag.Title = "Login";
}


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
        <img align="left" class="resize" src="Resources/University_of_Portland_shield.png" width="100px" height="auto"/>
        <h2 align="right" class="title">UP Electronic Health Record</h2>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="col-md-4"></div>

<!--<div class="col-md-4">
    <p id="loginErr">Invalid Login Credentials</p>
    <form class="form-signin" action='@Url.Action("Login","Home")' method='POST'>
      Username<input class="form-control" name='UserName' />
      Password<input class="form-control" name='Password' type='password' />
      <input class="btn btn-primary" type='submit' onclick="check(this.form)" value='Login' />
    </form>
</div>
<div class="col-md-4"></div>-->

<div class="col-md-4">
    @using(Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <div>
            <fieldset>
                <p class="errorMsg">@Model.errorMsg</p>
                <div>
                    @Html.Label(" Username", new { style = "color:white"})
                    @Html.TextBoxFor(model => model.username, new {Class="form-control"})
                </div>
                <div>
                    @Html.Label(" Password", new { style = "color:white" })
                    @Html.TextBoxFor(model => model.password, new {Class="form-control", @type = "password"})
                </div>
                <input id="login_btn" class="btn btn-primary" type="submit" value="Login" />

            </fieldset>
        </div>
    }
</div>
<div class="col-md-4"></div>

<p id="warning">*This software is for educational purposes only, do not enter real patient data</p>

@section scripts {
    <script type="text/javascript">
        

    </script>
}
