@model SummaryViewModel

@{
    ViewBag.Title = "Summary";
}


<body>


    <div class="row">
@RenderPage("~/Views/Shared/_PatientOverview.cshtml")
        </div>

<div id="left_menu" class="col-md-2">
    <div id="no_padding" class="col-md-12">
        <div id="pad_bottom" class="row"><a id="left_menu" href="#">Summary</a></div>
        <div id="spacer" class="col-md-12"></div>
        <div id="pad_bottom" class="row"><a id="left_menu" href="FlowSheets">Flow Sheets</a></div>
        <div id="spacer" class="col-md-12"></div>
    </div>
</div>
    

<div class="col-md-9" padding="10%"><div class="row" id="pad_left3"><p id="tab_title" >@ViewBag.Title</p></div></div>
<div class="col-md-9">
    <div class="row" >
        
        <div class="col-md-2" id="pad_left2">
            <div class="row">
                <img src='@Url.Content("~/Resources/PatientImage.png")' alt="Image" width="90%" height="auto">
            </div>
            <div class="row">
                <form action="SummaryImage" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" id="file"/>
                </form>
            </div>
        </div>

    <div class="col-md-2">
        <div id="pad_left" class="row s_name"><b><input id="s_input" disabled="true" value='@Model.lastName, @Model.firstName'></b></div>
        <div id="pad_left" class="row"><input id="s_input" disabled="true" value='@Model.gender, @Model.age y.o., @Model.birthDate'></div>
        <div id="pad_left" class="row"><input id="s_input" disabled="true" value='Weight: @Model.weight'></div>
        <div id="pad_left" class="row"><input id="s_input" disabled="true" value='Admit Date: @Model.admitDate'></div>
        <div id="pad_left" class="row"><input id="s_input" disabled="true" value='BMI: @Model.bmi'></div>
    </div>
    <div class="col-md-2">
        <div id="pad_left" class="row"><input id="s_input" disabled="true" value='MRN: @Model.mrn'></div>
        <div id="pad_left" class="row"><input id="s_input" disabled="true" value='Room: @Model.room'></div>
        <div id="pad_left" class="row"><input id="s_input" disabled="true" value='Unit: @Model.unit'></div>
        <div id="pad_left" class="row"><input id="s_input" disabled="true" value='Allergies: @Model.allergies'></div>
        <div id="pad_left" class="row"><input id="s_input" disabled="true" value='Attending: @Model.attending'></div>
    </div>
     <div class="col-md-3">
        <div id="pad_left" class="row"><input id="s_input" disabled="true" value='Isolation: @Model.isolation'></div>
        <div id="pad_left" class="row"><input id="s_input" disabled="true" value='Infection: @Model.infection'></div>
        <div id="pad_left" class="row"><input id="s_input" disabled="true" value='Code Status: @Model.codeStatus'></div>
        <div id="pad_left" class="row"><input id="s_input" disabled="true" value='Healthcare Directives: @Model.healthcareDirs'></div>
        <div id="pad_left" class="row"><input id="s_input" disabled="true" value='Language: @Model.language'></div>
    </div>
    </div>
        </div>
<div class="row">
    <div id="s_textbox" class="col-md-7 ">
            @using(Html.BeginForm("Summary", "Home", FormMethod.Post)) {
                @Html.TextAreaFor(model => model.inputData, new {Class="form-control", id="s_textbox "})
                <input class="btn btn-primary" type="submit" value="Submit" />
            }
     </div>
</div>

    </body>

