@model FlowSheetsModel

<div class="col-md-9">
<table class="table table-striped table-bordered">
    <thead id="flowsheets_head">
        <tr>
            <th id="date"><b>@Model.curDate.ToString("MM-dd-yyyy")</b></th>
            <th class="times">@if (@Model.am){@Model.amTimes[0]}else {@Model.pmTimes[0]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[1]}else {@Model.pmTimes[1]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[2]}else {@Model.pmTimes[2]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[3]}else {@Model.pmTimes[3]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[4]}else {@Model.pmTimes[4]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[5]}else {@Model.pmTimes[5]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[6]}else {@Model.pmTimes[6]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[7]}else {@Model.pmTimes[7]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[8]}else {@Model.pmTimes[8]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[9]}else {@Model.pmTimes[9]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[10]}else {@Model.pmTimes[10]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[11]}else {@Model.pmTimes[11]}</th>
    
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>bp</th>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>

        </tr>
        <tr>
            <th>pulse</th>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
  
        </tr>
        <tr>
            <th>temp</th>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>

        </tr>
        <tr>
            <th>respirations</th>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>

        </tr>
        <tr>
            <th>Sp02</th>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>

        </tr>
        <tr>
            <th>rr</th>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>

        </tr>
        <tr>
            <th>quality</th>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>

        </tr>
        <tr>
            <th>MAP</th>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>

        </tr>
        <tr>
            <th>IV</th>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>

        </tr>
        <tr>
            <th>Oral Intake</th>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>

        </tr>
        <tr>
            <th>UOP</th>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>
            <td><input class="fs" type="text"></td>

        </tr>
    </tbody>

</table>
</div>
<div class="col-md-4">
    <!--<input class="btn btn-primary" id="back_btn" type="submit" value=""/>
    <input class="btn btn-primary" id="fwd_btn" type="submit" value=""/>-->

    @Ajax.ActionLink("Backward", "_FSBackward", "Home", 

    new AjaxOptions
    {
        UpdateTargetId = "fs_partialView",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET"
    })
    
    @Ajax.ActionLink("Forward", "_FSForward", "Home", 

    new AjaxOptions
    {
        UpdateTargetId = "fs_partialView",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET"
    })


</div>