@model FlowSheetsModel

<div class="col-md-9">
<table class="table table-striped table-bordered">
    <thead id="flowsheets_head">
        <tr>
            <th id="date"><b>@Model.curDate.ToString("MM-dd-yyyy")</b></th>
            <th class="times">@if (@Model.am){@Model.amTimes[0]}else {@Model.pmTimes[0]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[1]}else {@Model.pmTimes[1]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[2]}else {@Model.pmTimes[2]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[3]}else {@Model.pmTimes[3]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[4]}else {@Model.pmTimes[4]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[5]}else {@Model.pmTimes[5]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[6]}else {@Model.pmTimes[6]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[7]}else {@Model.pmTimes[7]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[8]}else {@Model.pmTimes[8]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[9]}else {@Model.pmTimes[9]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[10]}else {@Model.pmTimes[10]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[11]}else {@Model.pmTimes[11]}</th>
    
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>bp</th>
            <td><input class="fs" type="text" value='@Model.bp[0]'></td>
            <td><input class="fs" type="text" value='@Model.bp[1]'></td>
            <td><input class="fs" type="text" value='@Model.bp[2]'></td>
            <td><input class="fs" type="text" value='@Model.bp[3]'></td>
            <td><input class="fs" type="text" value='@Model.bp[4]'></td>
            <td><input class="fs" type="text" value='@Model.bp[5]'></td>
            <td><input class="fs" type="text" value='@Model.bp[6]'></td>
            <td><input class="fs" type="text" value='@Model.bp[7]'></td>
            <td><input class="fs" type="text" value='@Model.bp[8]'></td>
            <td><input class="fs" type="text" value='@Model.bp[9]'></td>
            <td><input class="fs" type="text" value='@Model.bp[10]'></td>
            <td><input class="fs" type="text" value='@Model.bp[11]'></td>

        </tr>
        <tr>
            <th>pulse</th>
            <td><input class="fs" type="text" value='@Model.pulse[0]'></td>
            <td><input class="fs" type="text" value='@Model.pulse[1]'></td>
            <td><input class="fs" type="text" value='@Model.pulse[2]'></td>
            <td><input class="fs" type="text" value='@Model.pulse[3]'></td>
            <td><input class="fs" type="text" value='@Model.pulse[4]'></td>
            <td><input class="fs" type="text" value='@Model.pulse[5]'></td>
            <td><input class="fs" type="text" value='@Model.pulse[6]'></td>
            <td><input class="fs" type="text" value='@Model.pulse[7]'></td>
            <td><input class="fs" type="text" value='@Model.pulse[8]'></td>
            <td><input class="fs" type="text" value='@Model.pulse[9]'></td>
            <td><input class="fs" type="text" value='@Model.pulse[10]'></td>
            <td><input class="fs" type="text" value='@Model.pulse[11]'></td>
  
        </tr>
        <tr>
            <th>temp</th>
            <td><input class="fs" type="text" value='@Model.temp[0]'></td>
            <td><input class="fs" type="text" value='@Model.temp[1]'></td>
            <td><input class="fs" type="text" value='@Model.temp[2]'></td>
            <td><input class="fs" type="text" value='@Model.temp[3]'></td>
            <td><input class="fs" type="text" value='@Model.temp[4]'></td>
            <td><input class="fs" type="text" value='@Model.temp[5]'></td>
            <td><input class="fs" type="text" value='@Model.temp[6]'></td>
            <td><input class="fs" type="text" value='@Model.temp[7]'></td>
            <td><input class="fs" type="text" value='@Model.temp[8]'></td>
            <td><input class="fs" type="text" value='@Model.temp[9]'></td>
            <td><input class="fs" type="text" value='@Model.temp[10]'></td>
            <td><input class="fs" type="text" value='@Model.temp[11]'></td>

        </tr>
        <tr>
            <th>respirations</th>
            <td><input class="fs" type="text" value='@Model.respirations[0]'></td>
            <td><input class="fs" type="text" value='@Model.respirations[1]'></td>
            <td><input class="fs" type="text" value='@Model.respirations[2]'></td>
            <td><input class="fs" type="text" value='@Model.respirations[3]'></td>
            <td><input class="fs" type="text" value='@Model.respirations[4]'></td>
            <td><input class="fs" type="text" value='@Model.respirations[5]'></td>
            <td><input class="fs" type="text" value='@Model.respirations[6]'></td>
            <td><input class="fs" type="text" value='@Model.respirations[7]'></td>
            <td><input class="fs" type="text" value='@Model.respirations[8]'></td>
            <td><input class="fs" type="text" value='@Model.respirations[9]'></td>
            <td><input class="fs" type="text" value='@Model.respirations[10]'></td>
            <td><input class="fs" type="text" value='@Model.respirations[11]'></td>

        </tr>
        <tr>
            <th>SpO2</th>
            <td><input class="fs" type="text" value='@Model.spo2[0]'></td>
            <td><input class="fs" type="text" value='@Model.spo2[1]'></td>
            <td><input class="fs" type="text" value='@Model.spo2[2]'></td>
            <td><input class="fs" type="text" value='@Model.spo2[3]'></td>
            <td><input class="fs" type="text" value='@Model.spo2[4]'></td>
            <td><input class="fs" type="text" value='@Model.spo2[5]'></td>
            <td><input class="fs" type="text" value='@Model.spo2[6]'></td>
            <td><input class="fs" type="text" value='@Model.spo2[7]'></td>
            <td><input class="fs" type="text" value='@Model.spo2[8]'></td>
            <td><input class="fs" type="text" value='@Model.spo2[9]'></td>
            <td><input class="fs" type="text" value='@Model.spo2[10]'></td>
            <td><input class="fs" type="text" value='@Model.spo2[11]'></td>

        </tr>
        <tr>
            <th>rr</th>
            <td><input class="fs" type="text" value='@Model.rr[0]'></td>
            <td><input class="fs" type="text" value='@Model.rr[1]'></td>
            <td><input class="fs" type="text" value='@Model.rr[2]'></td>
            <td><input class="fs" type="text" value='@Model.rr[3]'></td>
            <td><input class="fs" type="text" value='@Model.rr[4]'></td>
            <td><input class="fs" type="text" value='@Model.rr[5]'></td>
            <td><input class="fs" type="text" value='@Model.rr[6]'></td>
            <td><input class="fs" type="text" value='@Model.rr[7]'></td>
            <td><input class="fs" type="text" value='@Model.rr[8]'></td>
            <td><input class="fs" type="text" value='@Model.rr[9]'></td>
            <td><input class="fs" type="text" value='@Model.rr[10]'></td>
            <td><input class="fs" type="text" value='@Model.rr[11]'></td>

        </tr>
        <tr>
            <th>quality</th>
            <td><input class="fs" type="text" value='@Model.quality[0]'></td>
            <td><input class="fs" type="text" value='@Model.quality[1]'></td>
            <td><input class="fs" type="text" value='@Model.quality[2]'></td>
            <td><input class="fs" type="text" value='@Model.quality[3]'></td>
            <td><input class="fs" type="text" value='@Model.quality[4]'></td>
            <td><input class="fs" type="text" value='@Model.quality[5]'></td>
            <td><input class="fs" type="text" value='@Model.quality[6]'></td>
            <td><input class="fs" type="text" value='@Model.quality[7]'></td>
            <td><input class="fs" type="text" value='@Model.quality[8]'></td>
            <td><input class="fs" type="text" value='@Model.quality[9]'></td>
            <td><input class="fs" type="text" value='@Model.quality[10]'></td>
            <td><input class="fs" type="text" value='@Model.quality[11]'></td>

        </tr>
        <tr>
            <th>MAP</th>
            <td><input class="fs" type="text" value='@Model.map[0]'></td>
            <td><input class="fs" type="text" value='@Model.map[1]'></td>
            <td><input class="fs" type="text" value='@Model.map[2]'></td>
            <td><input class="fs" type="text" value='@Model.map[3]'></td>
            <td><input class="fs" type="text" value='@Model.map[4]'></td>
            <td><input class="fs" type="text" value='@Model.map[5]'></td>
            <td><input class="fs" type="text" value='@Model.map[6]'></td>
            <td><input class="fs" type="text" value='@Model.map[7]'></td>
            <td><input class="fs" type="text" value='@Model.map[8]'></td>
            <td><input class="fs" type="text" value='@Model.map[9]'></td>
            <td><input class="fs" type="text" value='@Model.map[10]'></td>
            <td><input class="fs" type="text" value='@Model.map[11]'></td>

        </tr>
        <tr>
            <th>IV</th>
            <td><input class="fs" type="text" value='@Model.iv[0]'></td>
            <td><input class="fs" type="text" value='@Model.iv[1]'></td>
            <td><input class="fs" type="text" value='@Model.iv[2]'></td>
            <td><input class="fs" type="text" value='@Model.iv[3]'></td>
            <td><input class="fs" type="text" value='@Model.iv[4]'></td>
            <td><input class="fs" type="text" value='@Model.iv[5]'></td>
            <td><input class="fs" type="text" value='@Model.iv[6]'></td>
            <td><input class="fs" type="text" value='@Model.iv[7]'></td>
            <td><input class="fs" type="text" value='@Model.iv[8]'></td>
            <td><input class="fs" type="text" value='@Model.iv[9]'></td>
            <td><input class="fs" type="text" value='@Model.iv[10]'></td>
            <td><input class="fs" type="text" value='@Model.iv[11]'></td>

        </tr>
        <tr>
            <th>Oral Intake</th>
            <td><input class="fs" type="text" value='@Model.oralIntake[0]'></td>
            <td><input class="fs" type="text" value='@Model.oralIntake[1]'></td>
            <td><input class="fs" type="text" value='@Model.oralIntake[2]'></td>
            <td><input class="fs" type="text" value='@Model.oralIntake[3]'></td>
            <td><input class="fs" type="text" value='@Model.oralIntake[4]'></td>
            <td><input class="fs" type="text" value='@Model.oralIntake[5]'></td>
            <td><input class="fs" type="text" value='@Model.oralIntake[6]'></td>
            <td><input class="fs" type="text" value='@Model.oralIntake[7]'></td>
            <td><input class="fs" type="text" value='@Model.oralIntake[8]'></td>
            <td><input class="fs" type="text" value='@Model.oralIntake[9]'></td>
            <td><input class="fs" type="text" value='@Model.oralIntake[10]'></td>
            <td><input class="fs" type="text" value='@Model.oralIntake[11]'></td>

        </tr>
        <tr>
            <th>UOP</th>
            <td><input class="fs" type="text" value='@Model.uop[0]'></td>
            <td><input class="fs" type="text" value='@Model.uop[1]'></td>
            <td><input class="fs" type="text" value='@Model.uop[2]'></td>
            <td><input class="fs" type="text" value='@Model.uop[3]'></td>
            <td><input class="fs" type="text" value='@Model.uop[4]'></td>
            <td><input class="fs" type="text" value='@Model.uop[5]'></td>
            <td><input class="fs" type="text" value='@Model.uop[6]'></td>
            <td><input class="fs" type="text" value='@Model.uop[7]'></td>
            <td><input class="fs" type="text" value='@Model.uop[8]'></td>
            <td><input class="fs" type="text" value='@Model.uop[9]'></td>
            <td><input class="fs" type="text" value='@Model.uop[10]'></td>
            <td><input class="fs" type="text" value='@Model.uop[11]'></td>

        </tr>
    </tbody>

</table>
</div>
<div class="col-md-4">
    <!--<input class="btn btn-primary" id="back_btn" type="submit" value=""/>
    <input class="btn btn-primary" id="fwd_btn" type="submit" value=""/>-->

    @Ajax.ActionLink(" ", "_FSBackward", "Home", 

    new AjaxOptions()
    {
        UpdateTargetId = "fs_partialView",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET"
    },
    new { @class = "btn btn-default", id="back_btn" })
    
    @Ajax.ActionLink(" ", "_FSForward", "Home", 

    new AjaxOptions()
    {
        UpdateTargetId = "fs_partialView",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET"
    },
    new { @class = "btn btn-default", id="fwd_btn" })


</div>