@model FlowSheetsModel
<div class="col-md-4">
    <!--<input class="btn btn-primary" id="back_btn" type="submit" value=""/>
    <input class="btn btn-primary" id="fwd_btn" type="submit" value=""/>-->

    @Ajax.ActionLink(" ", "_FSBackward", "Home", 

    new AjaxOptions()
    {
        UpdateTargetId = "fs_partialView",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET"
    },
    new { @class = "btn btn-default", id="back_btn" })
    
    @Ajax.ActionLink(" ", "_FSForward", "Home", 

    new AjaxOptions()
    {
        UpdateTargetId = "fs_partialView",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET"
    },
    new { @class = "btn btn-default", id="fwd_btn" })


</div>
<div class="col-md-9">
    
    @using(Html.BeginForm("SaveFlowsheets", "Home", FormMethod.Post))
    {
<table class="table table-striped table-bordered">
    <thead id="flowsheets_head">
        <tr>
            <th id="date"><b>@Model.curDate.ToString("MM-dd-yyyy")</b></th>
            <th class="times">@if (@Model.am){@Model.amTimes[0]}else {@Model.pmTimes[0]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[1]}else {@Model.pmTimes[1]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[2]}else {@Model.pmTimes[2]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[3]}else {@Model.pmTimes[3]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[4]}else {@Model.pmTimes[4]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[5]}else {@Model.pmTimes[5]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[6]}else {@Model.pmTimes[6]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[7]}else {@Model.pmTimes[7]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[8]}else {@Model.pmTimes[8]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[9]}else {@Model.pmTimes[9]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[10]}else {@Model.pmTimes[10]}</th>
            <th class="times">@if (@Model.am){@Model.amTimes[11]}else {@Model.pmTimes[11]}</th>
    
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>bp</th>
            <td>@Html.TextBoxFor(model => model.bp[0], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.bp[1], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.bp[2], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.bp[3], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.bp[4], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.bp[5], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.bp[6], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.bp[7], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.bp[8], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.bp[9], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.bp[10], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.bp[11], new {Class="fs"})</td>

        </tr>
        <tr>
            <th>pulse</th>
            <td>@Html.TextBoxFor(model => model.pulse[0], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.pulse[1], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.pulse[2], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.pulse[3], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.pulse[4], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.pulse[5], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.pulse[6], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.pulse[7], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.pulse[8], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.pulse[9], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.pulse[10], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.pulse[11], new {Class="fs"})</td>
  
        </tr>
        <tr>
            <th>temp</th> <!--  -->
            <td>@Html.TextBoxFor(model => model.temp[0], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.temp[1], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.temp[2], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.temp[3], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.temp[4], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.temp[5], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.temp[6], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.temp[7], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.temp[8], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.temp[9], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.temp[10], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.temp[11], new {Class="fs"})</td>

        </tr>
        <tr>
            <th>respirations</th>
            <td>@Html.TextBoxFor(model => model.respirations[0], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.respirations[1], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.respirations[2], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.respirations[3], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.respirations[4], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.respirations[5], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.respirations[6], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.respirations[7], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.respirations[8], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.respirations[9], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.respirations[10], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.respirations[11], new {Class="fs"})</td>

        </tr>
        <tr>
            <th>SpO2</th>
            <td>@Html.TextBoxFor(model => model.spo2[0], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.spo2[1], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.spo2[2], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.spo2[3], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.spo2[4], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.spo2[5], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.spo2[6], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.spo2[7], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.spo2[8], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.spo2[9], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.spo2[10], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.spo2[11], new {Class="fs"})</td>

        </tr>
        <tr>
            <th>rr</th>
            <td>@Html.TextBoxFor(model => model.rr[0], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.rr[1], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.rr[2], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.rr[3], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.rr[4], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.rr[5], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.rr[6], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.rr[7], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.rr[8], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.rr[9], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.rr[10], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.rr[11], new {Class="fs"})</td>

        </tr>
        <tr>
            <th>quality</th>
            <td>@Html.TextBoxFor(model => model.quality[0], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.quality[1], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.quality[2], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.quality[3], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.quality[4], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.quality[5], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.quality[6], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.quality[7], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.quality[8], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.quality[9], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.quality[10], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.quality[11], new {Class="fs"})</td>

        </tr>
        <tr>
            <th>MAP</th>
            <td>@Html.TextBoxFor(model => model.map[0], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.map[1], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.map[2], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.map[3], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.map[4], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.map[5], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.map[6], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.map[7], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.map[8], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.map[9], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.map[10], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.map[11], new {Class="fs"})</td>

        </tr>
        <tr>
            <th>IV</th>
            <td>@Html.TextBoxFor(model => model.iv[0], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.iv[1], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.iv[2], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.iv[3], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.iv[4], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.iv[5], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.iv[6], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.iv[7], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.iv[8], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.iv[9], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.iv[10], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.iv[11], new {Class="fs"})</td>

        </tr>
        <tr>
            <th>Oral Intake</th>
            <td>@Html.TextBoxFor(model => model.oralIntake[0], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.oralIntake[1], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.oralIntake[2], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.oralIntake[3], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.oralIntake[4], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.oralIntake[5], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.oralIntake[6], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.oralIntake[7], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.oralIntake[8], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.oralIntake[9], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.oralIntake[10], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.oralIntake[11], new {Class="fs"})</td>

        </tr>
        <tr>
            <th>UOP</th>
            <td>@Html.TextBoxFor(model => model.uop[0], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.uop[1], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.uop[2], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.uop[3], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.uop[4], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.uop[5], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.uop[6], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.uop[7], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.uop[8], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.uop[9], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.uop[10], new {Class="fs"})</td>
            <td>@Html.TextBoxFor(model => model.uop[11], new {Class="fs"})</td>

        </tr>
    </tbody>

</table>
    <div class="col-md-12 right">
        <input id="save_fs_btn" class="btn btn-primary pull-right" type="submit" value="Save" />
    </div>
    }
</div>
